body {
	background-color: #e3f6ff;
}

header {
	text-align: center;
	background-color: #403b80;
	font-weight: bold
}


p {
	text-align: center;
	color: #403b80;
	font-family: georgia;
			
}
			
h1 {
	color: #fa916e;
	font-size: 50pt;
}

h2 {
	color: #1d7a6e;
	font-size: 25pt;
	text-align: center;
}

h3 {
	color: black;
	text-align: center;
}

figure {
    text-align: center;
}

table {
		width: 75%;
		margin: auto;
		border: solid;
		}
			
th, td {
		border: solid;
		text-align: center;
		}

th {
		background-color: #403b80;
		color: #fa916e;
		}


.indigo {
	color: #403b80;
	font-family: georgia;
}

.peach {
	color: #fca08d;
	font-family: georgia;

}

.bold {
	font-weight: bold;
}

#books {
	color: #403b80;
}