
h1 {
    font-size: 45pt;
    text-align: center;
}

h2 {
    font-size: 30pt;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20pt;
}

.navlink {
    font-size: 14pt;
    background-color: #d8d2fc;
    padding: 0.5em;
    border-color: #03000a;
    border-style: groove;    
}

.navlink:hover {
    background-color: #947cf7;
}

.navlink:visited {
    color: gray;
}

.navlink:link {
    color: #403b80;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f7d5dc;
    padding: 10px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.meet-pusheen {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e8c6f7;
    padding: 15px;
    max-width: 600px;
    margin: 20px auto;
    font-size: 20pt;
    text-align: center;
    color: black;
}

.meet-pusheen .main-image {
	display: inline-block;
    margin: 0 10px;
    width: 30%;
    max-width: 200px;
    height: auto;
    border: 1px solid black;
}

.boxed {
    padding: 10px;
    background-color: #f0edf7;
    max-width: 600px;
    margin: auto;
}

.main-image {
    width: auto;
    display: block;
    margin: 0 auto 20px;
    border: 1px solid black;
}

.friend-item {
    display: block;
    align-items: center;
    border: 2px solid gray;
    padding: 10px;
    margin: 10px 0;
    background-color: #e5e3e8;
}

.friend-image, .boxed-snacks img, .boxed-naps img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border: 1px solid black;
}

.boxed-snacks {
    padding: 15px;
    background-color: #ffe6b3;
    max-width: 600px;
    margin: 20px auto;
    border: 2px double #ffcc80;
    text-align: center;
}

.boxed-snacks h2 {
    font-size: 30pt;
    color: brown;
}

.boxed-snacks li {
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    font-size: 18pt;
    text-align: left;
    color: red;
}

.boxed-naps {
    padding: 15px;
    background-color: #c6f7f0;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid black;
    text-align: center;
}

.boxed-naps p {
    font-size: 16pt;
    text-align: center;
    color: black;
}

.contact-form-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f0edf7;
    border: 1px solid #black;

}


.contact-form-section h2 {
    text-align: center;
    font-size: 24pt;
}

textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
}



.error_message {
    color: red;
    font-size: 12pt;
    visibility: visible;
    display: block;
    margin-top: 5px;
}


@media (min-width: 1024px) {
    .friend-image, .boxed-snacks img, .boxed-naps img {
        width: 50%;
        max-width: 400px;
    }
	

    .main-image {
        width: 400px; 
        max-width: 400px; 
        height: auto; 
        display: block;
        margin: 20px auto; 
        border: 2px solid black; 
    }

    .boxed, .boxed-snacks, .boxed-naps {
        max-width: 800px;
    }

    h1 {
        font-size: 50pt;
    }

}

@media (min-width: 600px) and (max-width: 1023px) {
    .friend-image, .boxed-snacks img, .boxed-naps img {
        width: 35%;
        max-width: 180px;
    }

    .main-image {
        width: 40%;
        max-width: 200px;
    }

    .main-image {
        width: 300px;
    }

    .boxed, .boxed-snacks, .boxed-naps {
        max-width: 700px;
    }
} 

@media (max-width: 599px) {
    .friend-image, .boxed-snacks img, .boxed-naps img {
        width: 70%;
        max-width: 120px;
    }

    .meet-pusheen {
        flex-direction: column;
        align-items: center;
    }

    .meet-pusheen .main-image {
        width: 50%;
        max-width: 150px;
        margin-bottom: 10px;
    }

    .meet-pusheen p {
        font-size: 16pt;
        margin-top: 10px;
    }

    .main-image {
        width: 150px;
    }

    .boxed, .boxed-snacks, .boxed-naps {
        max-width: 95%;
    }
}


